<h1>Scrabble</h1>
<form action="result">
  <div class="form-group">
    <label for="title3">Enter your word to get your scrabble score.</label>
    <input id="title3" type="text" name="result2" class="form-control">
  </div>
  <button type="submit" class="btn-success">Submit</button>
</form>
